/* Full page */
body {
  margin: 0;

  font: 16px Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.42856;
  color: #333;
}
.row > * {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
}
.left { grid-column: 1; }
.right { grid-column: -1; }
h1, h2, h3, h4, h5, h6 { margin: 0; }
a {
  color: #ce0000;
  text-decoration: none;
}
a:hover, a:focus {
  color: #8b0042;
}
img {
  vertical-align: baseline;
  max-width: 100%;
}
header p {
  margin-top: 0;
  color: #555;
}
table { border-collapse: collapse; }
thead th { text-align: left; }
tbody tr:nth-child(odd) { background-color: #eee; }
th, td {
  padding: 1px 12px 1px 0;
  white-space: nowrap;
}
pre { font-size: 14px; }
pre, code {
  font-family: Consolas, Menlo, DejaVu Sans Mono, monospace;
}

/* Banner */
.banner {
  background-color: #eee;
  border-bottom: 3px solid #ce0000;
  margin-bottom: 12px;
}
nav {
  display: grid;
  grid-template-columns: auto 1fr auto;

  line-height: 60px;
}
@media (max-width: 640px) {
  nav { grid-template-columns: none; }
}
nav > .header { font-size: 20px; }
nav ul {
  display: flex;
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
nav a {
  display: block;
  padding: 0 12px;
  height: 60px;
}

/* Playground */
body.playground-page {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  height: 100vh;
}
.playground {
  display: grid;
  position: relative;
  grid-template-areas:
    'tool tool'
    'tree edit'
    'logs logs';
  grid-template-rows: auto minmax(0, 4fr) minmax(0, 1fr);
  grid-template-columns: 2fr 10fr;
  gap: 3px;
  background-color: #eee;
}
.playground > * {
  max-width: 100%;
  margin: 0;
  background: #fff;
}

.playground > .toolbar {
  grid-area: tool;
  line-height: 40px;
  background-color: #eee;
}
.toolbar a {
  height: 40px;
  cursor: pointer;
}

#open-input { display: none; }

#resources {
  grid-area: tree;
  padding-top: 4px;
  overflow: auto;
}
#resources ul {
  margin: 0;
  padding-left: 20px;
}
#resources li {
  list-style-type: none;
  position: relative;
}
#resources li > a {
  color: #333;
  cursor: pointer;
}
#resources li > a:not(:last-child):before {
  display: block;
  position: absolute;
  left: -12px;
}
#resources li > ul { display: none; }
#resources li > a:not(:last-child):before { content: "+"; }
#resources li.open > ul { display: block; }
#resources li.open > a:not(:last-child):before { content: "-"; }
#resources li.open > a:last-child { background-color: #eee; }

#editor {
  grid-area: edit;
  overflow-y: auto;
}
#editor label { display: block; }
#editor label, #editor .sheet, #editor .sprite { margin: 6px; }
#editor .sheet { margin: 6px; }
#editor .sprite canvas {
  height: 1.42856em;
  vertical-align: bottom;
}
#editor .cm-editor { font-size: 14px; }
#editor .cm-editor .cm-scroller { font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace; }

#game {
  grid-area: tree / tree / edit / edit;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
#canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  image-rendering: pixelated;
}

#output {
  grid-area: logs;
  margin: 0;
  padding: 0 6px;
  white-space: pre-wrap;
  overflow-y: auto;
}
#output > .error { color: #e11; }

/* Footer */
footer p {
  padding: 0 12px;
}
